/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Raleway LightItalic';
  src: url("../fonts/Raleway-LightItalic.eot");
  src: url("../fonts/Raleway-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-LightItalic.woff2") format("woff2"), url("../fonts/Raleway-LightItalic.woff") format("woff"), url("../fonts/Raleway-LightItalic.ttf") format("truetype"), url("../fonts/Raleway-LightItalic.svg#Raleway-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Raleway Medium';
  src: url("../fonts/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype"), url("../fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Raleway Light';
  src: url("../fonts/Raleway-Light.eot");
  src: url("../fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Light.woff2") format("woff2"), url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.ttf") format("truetype"), url("../fonts/Raleway-Light.svg#Raleway-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Raleway MediumItalic';
  src: url("../fonts/Raleway-MediumItalic.eot");
  src: url("../fonts/Raleway-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-MediumItalic.woff2") format("woff2"), url("../fonts/Raleway-MediumItalic.woff") format("woff"), url("../fonts/Raleway-MediumItalic.ttf") format("truetype"), url("../fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Playfair DisplayBold';
  src: url("../fonts/PlayfairDisplay-Bold.eot");
  src: url("../fonts/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype"), url("../fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Playfair DisplayItalic';
  src: url("../fonts/PlayfairDisplay-Italic.eot");
  src: url("../fonts/PlayfairDisplay-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Italic.woff") format("woff"), url("../fonts/PlayfairDisplay-Italic.ttf") format("truetype"), url("../fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/PlayfairDisplay-Regular.eot");
  src: url("../fonts/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype"), url("../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Playfair DisplayBoldItalic';
  src: url("../fonts/PlayfairDisplay-BoldItalic.eot");
  src: url("../fonts/PlayfairDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/PlayfairDisplay-BoldItalic.woff") format("woff"), url("../fonts/PlayfairDisplay-BoldItalic.ttf") format("truetype"), url("../fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }

/* Media Queries */
@media screen and (min-width: 0px) {
  /* Header */
  header {
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: 6em auto; }
    header .Aloha-logo {
      grid-column: 1; }
    header nav {
      grid-column: 1/3;
      grid-row: 2; }
    header .Cart-logo {
      grid-column: 2; }
  /* Categories */
  .categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1em; }
    .categories .mens {
      grid-column: 1/3;
      grid-row: 1; }
    .categories .trends {
      grid-column: 1;
      grid-row: 2; }
    .categories .glasses {
      grid-column: 2;
      grid-row: 2; }
    .categories .sale {
      grid-column: 1;
      grid-row: 3; }
    .categories .bags {
      grid-column: 2;
      grid-row: 3; }
    .categories .womens {
      grid-column: 1/3;
      grid-row: 4; }
  /* Updates */
  .updates {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; }
    .updates h1 {
      grid-row: 1;
      grid-column: 1/4; }
    .updates p {
      grid-row: 2;
      grid-column: 1/4; }
    .updates form {
      grid-row: 3;
      grid-column: 1/4; } }

@media screen and (min-width: 600px) {
  body {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto; }
  /* Header grid */
  header {
    display: grid;
    grid-auto-columns: auto 1fr auto; }
    header .Aloha-logo {
      grid-column: 1;
      margin-left: 1rem; }
    header nav {
      grid-column: 2;
      grid-row: 1; }
    header .Cart-logo {
      grid-column: 3;
      margin-right: 1rem; }
  /* Categories grid */
  .categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem; }
    .categories .mens {
      grid-column: 1/3;
      grid-row: 1; }
    .categories .trends {
      grid-column: 3;
      grid-row: 1; }
    .categories .glasses {
      grid-column: 4;
      grid-row: 1; }
    .categories .sale {
      grid-column: 1;
      grid-row: 2; }
    .categories .bags {
      grid-column: 2;
      grid-row: 2; }
    .categories .womens {
      grid-column: 3/5;
      grid-row: 2; }
  /* Updates grid */
  .updates {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; }
    .updates h1 {
      grid-row: 1;
      grid-column: 1/4; }
    .updates p {
      grid-row: 2;
      grid-column: 1/4; }
    .updates form {
      grid-row: 3;
      grid-column: 2/3; }
  /* Footer grid */
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    footer .details {
      grid-column: 1; }
    footer .logo {
      grid-column: 2; }
    footer .socialmedia {
      grid-column: 3;
      grid-row: 1; } }

@media screen and (min-width: 1240px) {
  body {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto; }
  /* Header grid */
  header {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr; }
    header .Aloha-logo {
      grid-column: 1; }
    header nav {
      grid-column: 2;
      grid-row: 1; }
    header .Cart-logo {
      grid-column: 3; }
  /* Categories grid */
  .categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem; }
    .categories .mens {
      grid-column: 1/3;
      grid-row: 1; }
    .categories .trends {
      grid-column: 3;
      grid-row: 1; }
    .categories .glasses {
      grid-column: 4;
      grid-row: 1; }
    .categories .sale {
      grid-column: 1;
      grid-row: 2; }
    .categories .bags {
      grid-column: 2;
      grid-row: 2; }
    .categories .womens {
      grid-column: 3/5;
      grid-row: 2; }
  /* Updates grid */
  .updates {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; }
    .updates h1 {
      grid-row: 1;
      grid-column: 1/4; }
    .updates p {
      grid-row: 2;
      grid-column: 1/4; }
    .updates form {
      grid-row: 3;
      grid-column: 2/3; }
  /* Footer grid */
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    footer .details {
      grid-column: 1; }
    footer .socialmedia {
      grid-column: 3;
      grid-row: 1; } }

/* Body requirements */
html {
  scroll-behavior: smooth; }

p {
  font-size: 16px; }

nav {
  font-family: "Raleway"; }

.class-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/banner-girl.png"), url("../images/flower-bkgd.jpg");
  background-position-x: 50%;
  background-position-y: 100%;
  background-repeat: no-repeat; }
  .class-background h1,
  .class-background h3 {
    color: white;
    text-shadow: 2px 2px 4px rgba(99, 99, 99, 0.8); }
  .class-background h1 {
    font-family: "Playfair Display";
    font-size: 48px; }
  .class-background h3 {
    font-family: "Raleway";
    font-size: 1.25rem;
    padding-bottom: 1em; }
  .class-background span {
    display: flex;
    justify-content: center; }

.handcraftedstyles {
  font-family: "Raleway Light";
  text-align: center;
  line-height: 2rem;
  margin: 2rem; }
  .handcraftedstyles h1 {
    font-family: "Playfair DisplayItalic";
    font-size: 2.4rem;
    margin-bottom: 1.5rem; }
    .handcraftedstyles h1 span {
      font-family: "Playfair DisplayBold";
      font-size: 2.4rem;
      font-weight: 700; }

.categories p {
  font-family: "Raleway Medium";
  font-size: 2.25rem;
  color: white; }

.categories .mens {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/mens-category.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.categories .trends {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/trends-category.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.categories .glasses {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/glasses-category.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.categories .sale {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/sale-category.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.categories .bags {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/bags-category.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.categories .womens {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/womens-category.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.categories p {
  font-family: "Raleway Medium";
  font-size: 2.25rem;
  color: white; }

.categories .mens {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/mens-category.jpg"); }

.categories .trends {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/trends-category.jpg"); }

.categories .glasses {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/glasses-category.jpg"); }

.categories .sale {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/sale-category.jpg"); }

.categories .bags {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/bags-category.jpg"); }

.categories .womens {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/womens-category.jpg"); }

.mostlovedproducts {
  text-align: center;
  padding-top: 2.5rem;
  margin-bottom: 2.5rem; }
  .mostlovedproducts h1 {
    color: black;
    font-family: "Playfair DisplayItalic";
    font-size: 2.25rem;
    margin-bottom: 2.5rem; }
    .mostlovedproducts h1 span {
      font-family: "Playfair DisplayBold"; }
  .mostlovedproducts h3 {
    font-family: "Playfair Display";
    font-size: 1.5rem;
    color: red;
    padding-top: 1em; }
  .mostlovedproducts .carousel-cell p {
    font-family: "Raleway Light";
    color: gray;
    padding-top: 1em; }
  .mostlovedproducts .carousel-cell button {
    color: white;
    background: black;
    border-radius: 1rem;
    margin-top: 1em; }

.updates {
  background: url("../images/wave-bkgd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 0.5rem;
  height: 20rem; }
  .updates h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Playfair DisplayItalic";
    font-size: 2.25rem;
    text-shadow: 0 0 40px rgba(99, 99, 99, 0.8); }
    .updates h1 span {
      font-family: "Playfair DisplayBold";
      text-shadow: 0 0 40px rgba(99, 99, 99, 0.8);
      margin-left: 0.5rem; }
  .updates p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway Light";
    color: white;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 0 0 40px rgba(99, 99, 99, 0.8); }
  .updates form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: "Ralway"; }
    .updates form form button,
    .updates form form input {
      font-size: 1rem; }
    .updates form input[type="email"] {
      padding-left: 1.875rem; }
    .updates form .subscribe-email {
      border: none;
      border-radius: 1.25rem;
      color: #969696;
      box-sizing: border-box;
      height: 3rem;
      flex-grow: 2;
      font-size: 1rem; }
    .updates form .subscribe {
      background: #e2574c;
      color: white;
      margin-top: 3px;
      border-radius: 1.25rem;
      height: 2.8125rem;
      width: 9.375rem;
      font-size: 1rem; }

footer {
  background: #242424;
  font-family: "Playfair Display"; }
  footer .details {
    color: white; }
  footer .address {
    color: #969696; }
  footer .email a:link,
  footer .email a:hover,
  footer .email a:visited,
  footer .email a:active {
    color: white;
    text-decoration: none; }
  footer .socialmedia {
    color: white; }
    footer .socialmedia a:link,
    footer .socialmedia a:hover,
    footer .socialmedia a:visited,
    footer .socialmedia a:active {
      color: white;
      text-decoration: none; }

@media screen and (min-width: 0px) {
  p {
    font-size: 14px; }
  /* Header requirements */
  header .Aloha-logo {
    display: flex;
    justify-content: left;
    margin-left: 1rem;
    border-bottom: 2px solid #d7d7d7; }
    header .Aloha-logo img {
      height: auto;
      max-width: 10rem; }
  header nav {
    display: flex;
    justify-self: center;
    align-self: center;
    font-size: 1rem;
    margin: 1em; }
    header nav ul li {
      display: inline-block;
      padding-right: 1rem; }
    header nav a:link,
    header nav a:visited,
    header nav a:active {
      color: #e2574c;
      text-decoration: none; }
  header .Cart-logo {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    border-bottom: 2px solid #d7d7d7; }
    header .Cart-logo img {
      height: auto;
      max-width: 3.875rem; }
  /* Class Background */
  .class-background {
    height: 33em;
    background-size: contain, cover; }
  /* Categories */
  .categories {
    height: 50em; }
    .categories .mens {
      background-size: cover;
      background-repeat: no-repeat; }
    .categories .trends {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .categories .glasses {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .categories .sale {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .categories .bags {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .categories .womens {
      background-size: cover;
      background-repeat: no-repeat; }
  /* Most loved products */
  .mostlovedproducts .carousel-cell {
    width: 100%; }
  /* Footer */
  footer {
    padding-bottom: 2.5rem;
    text-align: center; }
    footer .details {
      justify-self: center;
      line-height: 1.25rem;
      margin-top: 2.5rem; }
      footer .details .address {
        margin-top: 1.25rem; }
      footer .details .email {
        text-decoration: underline;
        margin-left: 0.25rem; }
    footer .logo {
      display: none; }
    footer .socialmedia ul {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      footer .socialmedia ul li {
        padding-top: 1.5rem; }
        footer .socialmedia ul li a i {
          min-width: 25px; }
        footer .socialmedia ul li a span {
          display: none; } }

@media screen and (min-width: 600px) {
  /* Header requirements */
  header .Aloha-logo {
    display: flex;
    justify-content: left;
    border-bottom: none; }
    header .Aloha-logo img {
      height: auto;
      max-width: 10rem; }
  header nav {
    display: flex;
    justify-self: center;
    align-self: center;
    font-size: 1rem; }
    header nav ul li {
      display: inline-block;
      padding-right: 1rem; }
    header nav a:link,
    header nav a:visited,
    header nav a:active {
      color: #e2574c;
      text-decoration: none; }
  header .Cart-logo {
    display: flex;
    justify-self: right;
    border-bottom: none; }
    header .Cart-logo img {
      height: auto;
      max-width: 3.875rem; }
  /* Class Background */
  .class-background {
    height: 33em;
    background-size: contain, cover; }
  /* Categories */
  .categories {
    height: 31.25rem; }
    .categories .mens {
      background-size: cover;
      background-repeat: no-repeat; }
    .categories .trends {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .categories .glasses {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .categories .sale {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .categories .bags {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .categories .womens {
      background-size: cover;
      background-repeat: no-repeat; }
  /* Most loved products */
  .mostlovedproducts .carousel-cell {
    width: 50%; }
  /* Footer */
  footer {
    padding-bottom: 2.5rem; }
    footer .details {
      justify-self: center;
      line-height: 1.25rem;
      margin-top: 2.5rem;
      text-align: left; }
      footer .details .address {
        margin-top: 1.25rem; }
      footer .details .email {
        text-decoration: underline;
        margin-left: 0.25rem; }
    footer .logo {
      display: block; }
    footer .socialmedia ul {
      display: flex;
      flex-direction: column; }
      footer .socialmedia ul li {
        padding-top: 1.5rem; }
        footer .socialmedia ul li a {
          display: flex; }
          footer .socialmedia ul li a i {
            min-width: 25px; }
          footer .socialmedia ul li a span {
            display: block;
            margin-left: 1em;
            margin-right: 1em; } }

@media screen and (min-width: 1240px) {
  /* Header requirements */
  header {
    margin: 0 auto;
    top: 0;
    width: 100%;
    z-index: 999;
    background: white; }
    header .Aloha-logo {
      display: flex;
      justify-content: left;
      margin-left: 5rem; }
      header .Aloha-logo img {
        height: auto;
        max-width: 10rem; }
    header nav {
      display: flex;
      justify-content: center;
      align-self: center;
      font-size: 1rem; }
      header nav ul {
        display: flex;
        flex-flow: row wrap; }
        header nav ul li {
          display: inline-block;
          padding-right: 2rem; }
      header nav a:link,
      header nav a:visited,
      header nav a:active {
        color: #e2574c;
        text-decoration: none; }
    header .Cart-logo {
      display: flex;
      justify-self: right;
      margin-right: 5rem; }
      header .Cart-logo img {
        height: auto;
        max-width: 3.875rem; }
  /* Most loved products */
  .mostlovedproducts .carousel-cell {
    width: 25%; }
  /* Class Background */
  .class-background {
    height: 56rem;
    background-size: 20rem, cover; }
  /* Hand-Crafted Styles */
  .handcraftedstyles {
    text-align: center;
    line-height: 2rem;
    margin: 2rem; }
    .handcraftedstyles h1 {
      font-size: 2.4rem;
      margin-bottom: 1.5rem; }
      .handcraftedstyles h1 span {
        font-size: 2.4rem;
        font-weight: 700; }
  /* Categories */
  .categories {
    height: 31.25rem; }
    .categories .mens {
      background-size: cover;
      background-repeat: no-repeat; }
    .categories .trends {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .categories .glasses {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .categories .sale {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .categories .bags {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .categories .womens {
      background-size: cover;
      background-repeat: no-repeat; }
  /* Most-Loved products */
  .mostlovedproducts {
    text-align: center;
    padding-top: 2.5rem;
    margin-bottom: 2.5rem; }
    .mostlovedproducts .carousel-cell {
      width: 25%; }
      .mostlovedproducts .carousel-cell button {
        border-radius: 1rem; }
  /* Footer */
  footer {
    padding-bottom: 2.5rem; }
    footer .details {
      justify-self: left;
      line-height: 1.25rem;
      margin-left: 2rem;
      margin-top: 2.5rem; }
      footer .details .address {
        margin-top: 1.25rem; }
      footer .details .email {
        text-decoration: underline;
        margin-left: 0.25rem; }
    footer .logo {
      background: url("../images/aloha-logo.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
    footer .socialmedia {
      display: flex;
      justify-self: right;
      align-self: center; }
      footer .socialmedia ul {
        display: flex;
        flex-direction: column;
        margin-right: 7.5rem; }
        footer .socialmedia ul li {
          padding-top: 1.5rem; }
          footer .socialmedia ul li a i {
            min-width: 25px; } }
