@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway-LightItalic.eot');
    src: url('Fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('Fonts/Raleway-LightItalic.woff') format('woff'),
        url('Fonts/Raleway-LightItalic.ttf') format('truetype'),
        url('Fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway-Medium.eot');
    src: url('Fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('Fonts/Raleway-Medium.woff2') format('woff2'),
        url('Fonts/Raleway-Medium.woff') format('woff'),
        url('Fonts/Raleway-Medium.ttf') format('truetype'),
        url('Fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway-Light.eot');
    src: url('Fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('Fonts/Raleway-Light.woff2') format('woff2'),
        url('Fonts/Raleway-Light.woff') format('woff'),
        url('Fonts/Raleway-Light.ttf') format('truetype'),
        url('Fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway-MediumItalic.eot');
    src: url('Fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('Fonts/Raleway-MediumItalic.woff') format('woff'),
        url('Fonts/Raleway-MediumItalic.ttf') format('truetype'),
        url('Fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('Fonts/PlayfairDisplay-Bold.eot');
    src: url('Fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('Fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('Fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('Fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('Fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('Fonts/PlayfairDisplay-Italic.eot');
    src: url('Fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('Fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('Fonts/PlayfairDisplay-Italic.woff') format('woff'),
        url('Fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('Fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('Fonts/PlayfairDisplay-Regular.eot');
    src: url('Fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('Fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('Fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('Fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('Fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('Fonts/PlayfairDisplay-BoldItalic.eot');
    src: url('Fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('Fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('Fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('Fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    scroll-behavior: smooth;
  }

p {
    font: Arial;
    font-size: 14px
}

header {
    top: 0;
    right: 0;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

#container-Aloha-logo {
    justify-content: flex-start;
    display: inline-block;
    flex-basis: 50%;
    order: 0;
}

#container-Aloha-logo img {
    width: 100%;
}

#container-Cart-logo {
    display: inline-block;
    order: 0;
    width: 100px;
    padding-left:32px;
}

nav {  
    width: 100%;
    word-spacing: 30px;
    font-family: "Raleway";
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    border-top: 2px;
    border-top-color: #d7d7d7;
    border-top-style: solid;
    order: 1;
    }

ul {
    padding:0px;
}

a:link {
    color: #e2574c;
    text-decoration: none;
}

a:visited {
    color: #e2574c;
    text-decoration: none;
}

a:active {
    color: #e2574c;
    text-decoration: none;
}

section#class-background {
background: url("images/banner-girl.png")
, url("images/flower-bkgd.jpg");
background-repeat: no-repeat;
background-position-x: center;
background-position-y: bottom;
background-size: 315px, auto;
display: flex;
align-content: center;
text-align: center;
justify-content: center;
flex-flow: column wrap;
height: 900px;
padding-top: 20px;
}

#class-background h1 {
    color: white;
    font-size: 48px;
    font-family: "Playfair Display";
    font-weight: normal;
    font-style: normal;
    text-shadow: 0 0 20px hsla(0,0%,39%,.8);
}

#class-background h3 {
    color: white;
    font-size: 24px;
    font-family: "Raleway";
}

section#handcraftedstyles {
    text-align: center;
    font-family: "Raleway-Light";
    line-height: 25px;
    padding: 25px;
}

#handcraftedstyles h1 {
    color:black;
    font-family: "Playfair Display-Italic";
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    padding-bottom: 20px;
}

#handcraftedstyles h1 span {
    font-family: "Playfair Display-Regular";
    font-style: normal;
    font-weight: bold;
}

section#mens {
    background: url("images/mens-category.jpg");
    background-size: cover;
    background-position-x: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Raleway";
    color: white;
    height: 500px;
}

section#categories {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    font-family: "RALEWAY";
    color: white;
    font-size: 36px;
    border-top: 10px solid white;
    border-bottom: 5px solid white;
}

section#trends {
    background: url("images/trends-category.jpg");
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    height: 500px;
    width: 50%;
    border-right: 5px solid white;
    box-sizing: border-box;
    border-bottom: 10px solid white;
}

section#glasses {
    background: url("images/glasses-category.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;
    width: 50%;
    border-left: 5px solid white;
    box-sizing: border-box;
    border-bottom: 10px solid white;
}

section#sale {
    background: url("images/sale-category.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;
    width: 50%;
    border-right: 5px solid white;
    box-sizing: border-box;
}

section#bags {
    background: url("images/bags-category.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;
    width: 50%;
    border-left: 5px solid white;
    box-sizing: border-box;
}

p.categories {
    font-size: 36px;
    padding-top: 170px;
}

section#womens {
    background: url("images/womens-category.jpg");
    background-size: cover;
    background-position-x: 68%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Raleway";
    color: white;
    height: 500px;
    border-top: 5px solid white;
}

section#mostLovedProducts {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

#mostLovedProducts h1 {
    color:black;
    font-family: "Playfair Display-Italic";
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
}

#mostLovedProducts h1 span {
    font-family: "Playfair Display-Regular";
    font-style: normal;
    font-weight: bold;
}

.carousel-cell {
    width: 100%;
}

p.product-type {
    font-family: "Raleway";
    color: gray;
}

#mostLovedProducts h3 {
    font-family: "Playfair Display-Regular";
    font-size: 24px;
    color: red;
}

p.price {
    font-family: "Raleway";
    color: gray;
}

section#updates {
    background: url("images/wave-bkgd.jpg");
    background-position: bottom center;
    background-size: cover;
    height: 275px;
    text-align: center;
    padding-top: 50px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#updates h1 {
    color: white;
    font-family: "Playfair Display-Italic";
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    text-shadow: 0 0 40px hsla(0,0%,39%,.8);
}

#updates h1 span {
    font-family: "Playfair Display-Regular";
    font-style: normal;
    font-weight: bold;
    text-shadow: 0 0 40px hsla(0,0%,39%,.8);
}

#updates p {
    font-family: "Raleway";
    color:white;
    padding-top: 20px;
}

form {
    display:flex;
    flex-direction: row;
    font-family: "Ralway";
    justify-content: center;
    position:relative;
    width:90%;
    padding-top: 20px;
}

input {
    border: none;
    border-radius: 20px;
    color:#969696;
    box-sizing: border-box;
    height: 51px;
    padding-left:30px;
}

input#subscribe {
    background: #e2574c;
    color: white;
    margin-top: 3px;
    border-radius: 20px;
    height: 45px;
    width: 150px;
    text-align: center;
    padding-right: 30px;
}

input[type="email"] {
    width: 100%;
}

input[type="submit"] {
    position: absolute;
    right: 0.25rem;
}

form button, form input {
    font-size: 14px;
}

footer {
    text-align: center;
    word-spacing: 20px;
    color: white;
    background: #242424;
}

p#details {
    word-spacing: 0px;
    font-family: "Playfair Display";
    padding-top: 20px;
}

p#address {
    word-spacing: 0px;
    color: #969696;
    font-family: "Playfair Display";
    padding-top: 20px;
    padding-bottom: 20px;
}

span#email {
    text-decoration: underline;
}

@media screen and (min-width: 600px) {
    header {
        flex-basis: 0;
    }
    
    #container-Aloha-logo {
        justify-content: flex-start;
        flex-basis: 30%;
    }
    
    #container-Cart-logo {
        order: 2;
        padding-left: 0px;
    }
    
    nav {
    border-top: none;
    order: 1;
    width: 315px;
    word-spacing: 15px;
}

    section#mens {
        background-position-x: 85%;
    }

    section#womens {
        background-position-x: 68%;
    }
}

@media screen and (min-width:1240px) {
    header {
        margin-bottom: 20px;
    }
    
    #container-Aloha-logo {
        justify-content: flex-start;
        display: inline-block;
        flex-basis: 0;
    }

    #container-Aloha-logo img {
        width: 300px;
    }
    
    #container-Cart-logo {
        display: inline-block;
        order: 2;
    }
    
    nav {
    border-top: none;
    width: 30%;
    order: 1;
    text-align: center;
    padding-top: 50px;
    padding-right: 150px;
    }
}