/* Media Queries */

@media screen and (min-width: 0) {
	/* Header */
	header {
		display: grid;
		grid-auto-rows: 6em auto;
		grid-template-columns: 1fr 1fr;

		.aloha-logo {
			grid-column: 1;
		}

		nav {
			grid-column: 1/3;
			grid-row: 2;
		}

		.cart-logo {
			grid-column: 2;
		}
	}

	/* Categories */
	.categories {
		display: grid;
		grid-gap: 1em;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;

		.mens {
			grid-column: 1/3;
			grid-row: 1;
		}

		.trends {
			grid-column: 1;
			grid-row: 2;
		}

		.glasses {
			grid-column: 2;
			grid-row: 2;
		}

		.sale {
			grid-column: 1;
			grid-row: 3;
		}

		.bags {
			grid-column: 2;
			grid-row: 3;
		}

		.womens {
			grid-column: 1/3;
			grid-row: 4;
		}
	}

	/* Updates */
	.updates {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;

		h1 {
			grid-column: 1/4;
			grid-row: 1;
		}

		p {
			grid-column: 1/4;
			grid-row: 2;
		}

		form {
			grid-column: 1/4;
			grid-row: 3;
		}
	}
}

@media screen and (min-width: 600px) {
	body {
		display: grid;
		grid-auto-columns: auto;
		grid-auto-rows: auto;
	}

	/* Header grid */
	header {
		display: grid;
		grid-template-columns: auto 1fr auto;

		.aloha-logo {
			grid-column: 1;
		}

		nav {
			grid-column: 2;
			grid-row: 1;
		}

		.cart-logo {
			grid-column: 3;
		}
	}

	/* Categories grid */
	.categories {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;

		.mens {
			grid-column: 1/3;
			grid-row: 1;
		}

		.trends {
			grid-column: 3;
			grid-row: 1;
		}

		.glasses {
			grid-column: 4;
			grid-row: 1;
		}

		.sale {
			grid-column: 1;
			grid-row: 2;
		}

		.bags {
			grid-column: 2;
			grid-row: 2;
		}

		.womens {
			grid-column: 3/5;
			grid-row: 2;
		}
	}

	/* Updates grid */
	.updates {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;

		h1 {
			grid-column: 1/4;
			grid-row: 1;
		}

		p {
			grid-column: 1/4;
			grid-row: 2;
		}

		form {
			grid-column: 2/3;
			grid-row: 3;
		}
	}

	/* Footer grid */
	footer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

		.details {
			grid-column: 1;
		}

		.logo {
			grid-column: 2;
		}

		.socialmedia {
			grid-column: 3;
			grid-row: 1;
		}
	}
}

@media screen and (min-width: 1240px) {
	body {
		display: grid;
		grid-auto-columns: auto;
		grid-auto-rows: auto;
	}

	/* Header grid */

	header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

		.aloha-logo {
			grid-column: 1;
		}

		nav {
			grid-column: 2;
			grid-row: 1;
		}

		.cart-logo {
			grid-column: 3;
		}
	}

	/* Categories grid */

	.categories {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;

		.mens {
			grid-column: 1/3;
			grid-row: 1;
		}

		.trends {
			grid-column: 3;
			grid-row: 1;
		}

		.glasses {
			grid-column: 4;
			grid-row: 1;
		}

		.sale {
			grid-column: 1;
			grid-row: 2;
		}

		.bags {
			grid-column: 2;
			grid-row: 2;
		}

		.womens {
			grid-column: 3/5;
			grid-row: 2;
		}
	}

	/* Updates grid */

	.updates {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;

		h1 {
			grid-column: 1/4;
			grid-row: 1;
		}

		p {
			grid-column: 1/4;
			grid-row: 2;
		}

		form {
			grid-column: 2/3;
			grid-row: 3;
		}
	}

	/* Footer grid */

	footer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

		.details {
			grid-column: 1;
		}

		.socialmedia {
			grid-column: 3;
			grid-row: 1;
		}
	}
}
