@mixin primaryfontcolor {
	color: #fff;
}

@mixin secondaryfontcolor {
	color: #000;
}

@mixin navfontcolor {
	color: #e2574c;
}

@mixin pcolor {
	color: #969696;
}

@mixin class-background {
	align-items: center;
	background: url('../../src/assets/images/banner-girl.png'),
		url('../../src/assets/images/flower-bkgd.jpg');
	background-position-x: 50%;
	background-position-y: 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h1,
	h3 {
		color: #fff;
		text-shadow: 2px 2px 4px hsla(0, 0%, 39%, 0.8);
	}

	h1 {
		font-family: 'Playfair Display', sans-serif;
		font-size: 48px;
	}

	h3 {
		font-family: 'Raleway', sans-serif;
		font-size: 1.25rem;
		padding-bottom: 1em;
	}

	span {
		display: flex;
		justify-content: center;
	}
}

@mixin handcraftedstyles {
	font-family: 'Raleway Light', sans-serif;
	line-height: 2rem;
	margin: 2rem;
	text-align: center;

	h1 {
		font-family: 'Playfair DisplayItalic', sans-serif;
		font-size: 2.4rem;
		margin-bottom: 1.5rem;

		span {
			font-family: 'Playfair DisplayBold', sans-serif;
			font-size: 2.4rem;
		}
	}
}

@mixin categories {
	p {
		@include categories-font;
	}

	.mens {
		@include category-centertext;

		background: url('../../src/assets/images/mens-category.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}

	.trends {
		@include category-centertext;

		background: url('../../src/assets/images/trends-category.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.glasses {
		@include category-centertext;

		background: url('../../src/assets/images/glasses-category.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.sale {
		@include category-centertext;

		background: url('../../src/assets/images/sale-category.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.bags {
		@include category-centertext;

		background: url('../../src/assets/images/bags-category.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.womens {
		@include category-centertext;

		background: url('../../src/assets/images/womens-category.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
}

@mixin categories-font {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 2.25rem;
}

@mixin category-centertext {
	align-items: center;
	display: flex;
	justify-content: center;
}

@mixin mostlovedproductsheader {
	margin-bottom: 2.5rem;
	padding-top: 2.5rem;
	text-align: center;

	h1 {
		color: #000;
		font-family: 'Playfair DisplayItalic', sans-serif;
		font-size: 2.25rem;
		margin-bottom: 2.5rem;

		span {
			font-family: 'Playfair DisplayBold', sans-serif;
		}
	}

	h3 {
		color: #f00;
		font-family: 'Playfair Display', sans-serif;
		font-size: 1.5rem;
		padding-top: 1em;
	}
}

@mixin carousel {
	p {
		color: #808080;
		font-family: 'Raleway', sans-serif;
		padding-top: 1em;
	}

	h3 {
		color: #e2574c;
	}

	button {
		@include primaryfontcolor;

		background: #000;
		border: 0;
		border-radius: 1rem;
		cursor: pointer;
		margin-top: 1em;
		padding: 1em 3em;
	}
}

@mixin updates {
	background: url('../../src/assets/images/wave-bkgd.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	margin-bottom: 0.5rem;

	h1 {
		@include center;

		color: #fff;
		font-family: 'Playfair DisplayItalic', sans-serif;
		font-size: 2.25rem;
		text-shadow: 0 0 40px hsla(0, 0%, 39%, 0.8);

		span {
			font-family: 'Playfair DisplayBold', sans-serif;
			margin-left: 0.5rem;
			text-shadow: 0 0 40px hsla(0, 0%, 39%, 0.8);
		}
	}

	p {
		@include center;

		color: #fff;
		font-family: 'Raleway Light', sans-serif;
		line-height: 1.5rem;
		text-align: center;
		text-shadow: 0 0 40px hsla(0, 0%, 39%, 0.8);
	}

	form {
		@include center;

		flex-direction: row;
		font-family: 'Raleway Medium', sans-serif;

		input {
			padding-left: 1.875rem;
		}

		form button,
		form input {
			font-size: 1rem;
		}

		.subscribe-email {
			border: 0;
			border-radius: 1.25rem;
			box-sizing: border-box;
			color: #969696;
			flex-grow: 2;
			font-size: 1rem;
			height: 3rem;
		}

		.subscribe {
			background: #e2574c;
			border-radius: 1.25rem;
			color: #fff;
			font-size: 1rem;
			height: 2.8125rem;
			margin-top: 3px;
			width: 9.375rem;
		}
	}
}

@mixin center {
	align-items: center;
	display: flex;
	justify-content: center;
}

@mixin footerlinks {
	a {
		color: #fff;
		cursor: pointer;
		text-decoration: none;
	}
}
